*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283d;   
}

.topnav{
  top:0px;  
  position: fixed;
  width: 90%;
  margin-top: 10px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 35px;
  color: #f0f8ff;
  text-align: center;
  padding-top: 5px;
  /*background: #ffffff00;
  box-shadow: 0 0 10px black;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);*/
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  border-radius: 33px;
  background: linear-gradient(145deg, #062b41, #052437);
  box-shadow:  3px 3px 6px #041c2b,
             -3px -3px 6px #08344f;
}
.logonav {
    float: left;
    background-color: rgba(54, 115, 19, 0);
    background-size: contain;
    background-image: url(../images/LogoWhite.svg);
    display: flex;
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-top: -4px;
    background-repeat: no-repeat;
    text-decoration: none;
    position: fixed;
    
  }
.container{
    position: relative;
    width: 320px;
    height: 60px;
    background-color: #fff;
    padding: 9px 32px;
    overflow: hidden;
    border-radius: 35px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    background: linear-gradient(315deg, #052437, #062b41);
box-shadow:  -5px -5px 27px #041a28,
             5px 5px 27px #083652;
}

.search-box{
    background-color: linear-gradient(315deg, #052437, #062b41);
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    background: #062b4100;
    color: #20638c;
    width: 80%;
    font-size: 18px;
    font-weight: 550;
    /*text-transform: uppercase;*/
    padding-left: 32px;   
}

.search-box input::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #20638c;
    text-transform: capitalize;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #20638c;
    background-color: #20638c00;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover{
    color: #cedeced8;
    background: #20638c00;
}

.search-box i{
    position: absolute;
    color: #20638c;
    font-size: 22px;

}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 40%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #20638c;
    font-size: 3rem;
    font-weight: 800;
    margin-top:30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #20638c;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #20638c;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #20638c;
    font-size: 15px;
    font-weight: 500;
}

.weather-details p{
    color: #20638c;
    font-size: 10px;
    font-weight: 500; 
}

.error404{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.error404 img{
    width: 30%;
}

.error404 p{
    color: #20638c;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}

.messageBox{
    top:0px;  
    position: fixed;
    text-wrap: nowrap;
    margin-top: 88px;
    padding: 10px 10px;
    background-color: #dff6ff;
    border-radius: 50px;
    color: #20638c;
    font-weight: 800;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 33px;
background: #06283d;
box-shadow: inset 3px 3px 6px #041c2b,
            inset -3px -3px 6px #08344f;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: min-content;
    padding: 15px 0px;
    font-size: 10px;
    color: #06283d;
    background-color: #054065;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
a{
    color: #06283d;
}